<!DOCTYPE html>
<html lang="zh_CN">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/index.css">
	</head>
	<body>
		<div>
			<div class="index-sidebar">
				<div class="admin-introduction"></div>
				<ul class="index-sidebar-list">
					<li class="index-sidebar-item">
						<span class="link">首页</span>
					</li>
					<li class="index-sidebar-item">
						<span class="link">博客</span>
					</li>
					<li class="index-sidebar-item">
						<span class="link">随记</span>
					</li>
					<li class="index-sidebar-item">
						<span class="link">技术栈</span>
					</li>
				</ul>
			</div>
			<div class="index-content">
				<ul>
					<% for( var i = 0, len = new_list.length; i < len; i++ ) {%>
						<li class="blog-item">
							<a href="/artical/<%= new_list[i].id  %>"> <%= new_list[i].title %> </a>
						</li>
					<% } %>
				</ul>
				<a href="/admin"> 后台系统 </a>
			</div>
		</div>
	</body>
</html>
<script src="/static/js/jquery.js"></script>
