<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/login.css">
    </head>
    <body>
        <div class="admin-login-wrap">
            <ul>
                <li class="admin-login-item">
                    <h4>id</h4>
                    <input type="text" id="id">
                </li>
                <li class="admin-login-item">
                    <h4>password</h4>
                    <input type="password" id="pwd">
                </li>
                <li class="admin-login-item">
                    <button id="submit"><span>login</span></button>
                </li>
            </ul>
        </div>
    </body>
</html>
<script src="/static/js/jquery.js"></script>
<script>
    var submit = document.getElementById('submit'),
        idEl   = document.getElementById('id'),
        pwdEl  = document.getElementById('pwd');

    function register(){
        var data = {
            user_id: idEl.value,
            user_pwd: pwdEl.value,
        };
        
        $.ajax({
            url: '/login',
            type: 'POST',
            dataType: 'JSON',
            data: data,
            success: function(res){
                console.log(res)
                if( res.code == '000000' ){
                    window.location.href = '/admin';
                }
            },
            error: function(status){
                console.log(status)
            }
        });
    }

    submit.addEventListener('click', register, false);
</script>