<!DOCTYPE html>
<html lang="zh_CN">
	<head>
		<meta charset="utf-8">
		<title>用户管理</title>
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/admin.css">
		<link rel="stylesheet" href="/static/css/editormd.css">
		<link rel="stylesheet" href="/static/css/codemirror.css">
	</head>
	<body>
		<div class="admin-content">
			<!-- 侧边栏 -->
			<div class="admin-sidebar">
				<ul class="admin-navigate">
					<li>
						<a href="#/blog" class="admin-navigate-item">博客</a>
					</li>
					<li>
						<a href="#/journal" class="admin-navigate-item">随记</a>
					</li>
				</ul>
			</div>
			<!-- 视口 -->
			<ul class="admin-section">
				<li class="admin-section-item" view-port="/blog">
					<div class="blog-header">
					</div>

					<div class="blog-section">
						<!-- <ul id="blog-list"></ul> -->
						<table class="artical-list-wrap">
							<thead>
								<tr>
									<th>名称</th>
									<th>一级分类</th>
									<th>二级分类</th>
									<th>三级分类</th>
									<th>创建时间</th>
									<th>更新时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="blog-list"></tbody>
						</table>
					</div>
					<div class="blog-footer">
						<a href="#/edit">新增</a>
					</div>
				</li>
				<li class="admin-section-item" view-port="/journal">
					<ul id=""></ul>
				</li>

				<li class="admin-section-item" view-port="/edit">
					<div class="edit-section">
						<div id="test-editormd"></div>
					</div>
					<div class="edit-footer">
						<select name="" id="type_NO01">
							<option value="">请选择</option>
							<option value="blog">博客</option>
						</select>
						<select name="" id="type_NO02">
							<option value="">请选择</option>
							<option value="web_front_end">前端</option>
						</select>
						<select name="" id="type_NO03">
							<option value="">请选择</option>
							<option value="framework">框架</option>
						</select>
                        <input type="text" id="add-title" style="border: 1px solid #000;">
						<button id="add-post">提交</button>
					</div>
					<div id="show"></div>
				</li>

			</ul>

		</div>
	</body>
</html>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/editormd.js"></script>
<script src="/static/js/codemirror.js"></script>
<script src="/static/js/modes.min.js"></script>
<script src="/static/js/addons.min.js"></script>
<script src="/static/js/marked.min.js"></script>
<script src="/static/js/prettify.min.js"></script>

<script src="/static/js/underscore.min.js"></script>
<script src="/static/js/raphael.min.js"></script>
<script src="/static/js/sequence-diagram.min.js"></script>
<script src="/static/js/flowchart.min.js"></script>
<script src="/static/js/jquery.flowchart.min.js"></script>

<script>
	// editor 
	var editor = null;
	// router
	var router = [
		{
			path: '/edit',
			cb: 'edit'
		},{
			path: '/blog',
			cb: 'blog'
		}
	];
	var views = {
		edit: function(){
			if( !editor ){
				editor = editormd("test-editormd", {
					width   : "90%",
					height  : 640,
					syncScrolling : "single",
					path    : "../static/js/"
				});
			}

		},
		blog: function(){
			$.ajax({
				url: '/artical_list/blog',
	            type: 'GET',
	            dataType: 'JSON',
	            data: {},
	            success: function(res){
	                if( res.code == '000000' ){
						console.log(res)
						var artical_list = res.data;
						var list = '';
						for( var i = 0, len = artical_list.length; i < len; i++ ){
							list += '<tr>' +
								'<td>' + artical_list[i].title + '</td>' +
								'<td>' + artical_list[i].type_name_NO01 + '</td>' +
								'<td>' + artical_list[i].type_name_NO02 + '</td>' +
								'<td>' + artical_list[i].type_name_NO03 + '</td>' +
								'<td>' + artical_list[i].create_time + '</td>' +
								'<td>' + artical_list[i].update_time + '</td>' +
								'<td><span blog-put="' + artical_list[i].id + '">编辑</span><span blog-del=' + artical_list[i].id + ' >删除</span></td>' +
								'</tr>';
						}
						document.getElementById('blog-list').innerHTML = list;
	                }
	            },
	            error: function(status){
	                console.log(status)
	            }
			});
		}
	};
	// viewport change
	function viewChange(){
		var path = location.hash.substring(1);
		let view_ports = document.querySelectorAll('li[view-port]');

		for( var i = 0, len = view_ports.length; i < len; i++ ){
			if( path == view_ports[i].getAttribute('view-port') ){
				view_ports[i].style.display = 'block';
			} else {
				view_ports[i].style.display = 'none';
			}
		}
		for( var i = 0, len = router.length; i < len; i++ ){
			if( router[i].path == path ){
				views[path.substring(1)]();
				break;
			}
		}
	}

	window.addEventListener('hashchange', viewChange);

	viewChange();

	// submit aticale
	function submit(){
		var type_NO01 = document.getElementById('type_NO01'),
			type_NO02 = document.getElementById('type_NO02'),
			type_NO03 = document.getElementById('type_NO03');

		var data = {
			type_NO01: document.getElementById('type_NO01').value,
			type_NO02: document.getElementById('type_NO02').value,
			type_NO03: document.getElementById('type_NO03').value,
            title: document.getElementById('add-title').value,
			content:   editor.getMarkdown(),
		};

		$.ajax({
            url: '/artical/add',
            type: 'POST',
            dataType: 'JSON',
            data: data,
            success: function(res){
                if( res.code == '000000' ){
					console.log(res)
                }
            },
            error: function(status){
                console.log(status)
            }
        });

		// var show = document.getElementById('show');

		// editormd.markdownToHTML("show", {
		// 	markdown        : editor.getMarkdown() ,//+ "\r\n" + $("#append-test").text(),
		// 	//htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
		// 	htmlDecode      : "style,script,iframe",  // you can filter tags decode
		// 	//toc             : false,
		// 	// tocm            : true,    // Using [TOCM]
		// 	// tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
		// 	//gfm             : false,
		// 	//tocDropdown     : true,
		// 	markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
		// 	// emoji           : true,
		// 	// taskList        : true,
		// 	// tex             : true,  // 默认不解析
		// 	flowChart       : true,  // 默认不解析
		// 	sequenceDiagram : true  // 默认不解析
		// });

	}
	document.getElementById('add-post').addEventListener('click', submit);

</script>