<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <div class="index-sidebar"></div>
            <div class="index-content">
                <% for( var i = 0, len = new_list.length; i < len; i++ ) {%>
                    <a href="/artical/<%= new_list[i].id  %>"> <%= new_list[i].title %> </a>
                <% } %>
            </div>
            <a href="/admin"> 后台系统 </a>
        </div>
    </body>
</html>
<script src="/static/js/jquery.js"></script>
