<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <h4>id</h4>
            <input type="text" id="id">
            <h4>password</h4>
            <input type="text" id="pwd">
            <button id="submit">注册</button>
        </div>
    </body>
</html>
<script src="/static/js/jquery.js"></script>
<script>
    var submit = document.getElementById('submit'),
        idEl   = document.getElementById('id'),
        pwdEl  = document.getElementById('pwd');

    function register(){
        var data = {
            id: idEl.value,
            pwd: pwdEl.value,
        };
        
        $.ajax({
            url: '/register',
            type: 'POST',
            dataType: 'JSON',
            data: data,
            success: function(res){
                console.log(res)
            },
            error: function(status){
                console.log(status)
            }
        });
    }

    submit.addEventListener('click', register, false);
</script>