.admin-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #999;
}

.admin-section{
    padding-left: 200px;
}
.admin-section-item{
    display: none;
    padding-left: 30px;
}
/* 视口区域 */
li[view-port="/edit"]{
    padding-top: 20px;
}

/* 编辑区域 */
.edit-section{
    min-height: 800px;
}
.edit-footer{

}

/* 文章列表展示 */
.artical-list-wrap{
    text-align: center;
    border-spacing: 0;
    border-right: 1px solid #000;
}
thead th{
    border-top: 1px solid #000;
}
th, td{
    padding: 10px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
