.admin-login-wrap{
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 400px;
	color: rgba(255,255,255,0.75);
	margin-top: -200px;
	margin-left: -300px;
	border-radius: 4px;
	padding: 135px 80px 0 0;
	background-color: #24292e;
}
.admin-login-item{
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.admin-login-item h4 {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	font-size: 14px;
	text-align: left;
}
.admin-login-item input {
	vertical-align: middle;
	height: 26px;
	width: 240px;
}
.admin-login-item button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 60px;
	cursor: pointer;
	background-color: #ececec;
	border-left: 1px solid #ececec;
}
.admin-login-item span{
	position: relative;
	z-index: 1;
	font-weight: bold;
	transition: all .3s;
}
.admin-login-item button:hover{
	color: #fff;
}
.admin-login-item button:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 100%;;
	background-color: #24292e;
	transition: right .3s;
}
.admin-login-item button:hover:before{
	right: 0;
}